<h1>Comments#index</h1>
<p>Find me in app/views/comments/index.html.erb</p>
<p>
  <p>
    <% @comments.each do |p| %>
      <h3>
        <strong>
          <em>
            <%= p.title %>
          </em>
        </strong>
      </h3>
      <br>
      <%= p.content %>
    <% end %>
  </p>
<br>
  <p>
    <button type="button" class="btn btn-sm">
          <div>
            <%= link_to "New", new_comment_path %>
          </div>
    </button>
  </p>
</p>
