<h1>Comments#new</h1>
<p>Find me in app/views/comments/new.html.erb</p>
<%= simple_form_for Comment.new, :url => comments_path do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <br>
  <%= f.button :submit %>
<% end %>
