<h1>Comments#show</h1>
<p>Find me in app/views/comments/show.html.erb</p>
<p>
  <strong>
    <%= @comment.title %>
  </strong>
  <br>
  <%= @comment.content %>
</p>
<button type="button" class="btn">
  <div>
    <%= link_to "Comments", gsi_comments_path %>
  </div>
</button>

