var content = '<h3>\
     <b>\
       <em>\
         <%= @new_comment.title %>\
       </em>\
     </b>\
   </h3>\
     <br>\
   <h4>\
     <%= @new_comment.content %>\
   </h4>\
    <button type="button" class="btn-sm"><div>\
       <%= link_to "Reply", new_gsi_comment_reply_path(@gsi, @new_comment) %>\
    </div></button>'
